<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h2>Up For Grabs</h2>
        </div>
        <div class="col-lg-4">
            <h1>Eat Da Burger!</h1>
        </div>
        <div class="col-lg-4">
            <h2>Devoured</h2>
        </div>
    </div>
</div>